@model kdh.Models.Job

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete @Model.JobTitle?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobShift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobShift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requirement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department.department_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.department_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form>
            @Html.HiddenFor(model => model.JobId)
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index_Admin")
            </div>
        </form>
    }
</div>
