@model IEnumerable<kdh.Models.Job>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available job Positions</h2>

@foreach (var item in Model)
{
    <div>
        <h3>@Html.DisplayNameFor(model => model.JobId): @item.JobId</h3>
        <span>
            @Html.ActionLink("Details", "Details", new { job_id = item.JobId })
        </span>
        <dl class="dl-horizontal row">

            <dt class="col-2">@Html.DisplayNameFor(model => model.JobTitle):</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.JobTitle)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.JobStatus)</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.JobStatus)</dd>
            <dt class="col-4 col-md-2">@Html.DisplayNameFor(model => model.DepartmentId)</dt>
            <dd class="col-8 col-md-10">@Html.DisplayFor(modelItem => item.department.department_name)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.DatePosted)</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.DatePosted)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.DateClosed)</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.DateClosed)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.User.Email)</dt>
            <dd class="col-10">@Html.DisplayFor(modelItem => item.User.Email)</dd>
        </dl>
        @Html.ActionLink("Apply now", "Create", "JobApplicant", new { job_id = item.JobId })
    </div>
}
