@model IEnumerable<kdh.ViewModels.PatientVM>

@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/PatientPortal/_PatientPortal.cshtml";
}

<h2>Search Result: </h2>
<div class="container">
    <div class="row">

        <a href="@Url.Action("AddPatient", "Admin")" class="btn btn-primary my-3 mr-4">Add a new patient</a>

        @using (Html.BeginForm("FindPatientByName", "Admin"))
        {
            @Html.AntiForgeryToken()
            <div class="input-group">
                @Html.TextBox("pName", null, new { @class = "form-control my-3 py-2 border-right-0 border border-dark" })
                <span class="input-group-append  my-3">
                    <input type="submit" aria-labelledby="search button" value="Find" class="btn btn-outline-dark border-left-0 border border-dark">
                </span>
            </div>
        }
    </div>
    <div class="text-danger mb-4">@ViewBag.SearchError @ViewBag.CountResult</div>

</div>

@foreach (var p in Model)
{


    <div class="card mb-3">
        <div class="card-header">
            <span class="h5">@p.FullName</span> (@p.Gender)
        </div>
        <div class="card-body">
            <div class="card-text">Email address: @p.Email</div>
            <div class="card-text">Address1: @p.Address1</div>
            <div class="card-text">Address2: @p.Address2</div>
            <div class="card-text">City: @p.City</div>
            <div class="card-text">Province: @p.Province</div>
            <div class="card-text">Postal Code: @p.Postal</div>
            <a href="@Url.Action("PatientDetails", "Admin", new { id = p.Id })" class="btn btn-outline-primary btn-sm ml-2 my-1 col-md-3">Details</a>
            <a href="@Url.Action("EditPatient", "Admin", new { id = p.Id })" class="btn btn-outline-primary btn-sm ml-2  my-1 col-md-3">Edit Patient</a>
            <span>
                @if (p.UserId.HasValue)
                {
                    <a href="@Url.Action("DeleteUser", "Admin", new { id = p.UserId })" class="btn btn-outline-danger btn-sm ml-2  my-1 col-md-3">Delete Account</a>
                }
            </span>
        </div>
    </div>
    @* new { id = p.Id }  id should be the same as parameter of the action*@

}


