@model IEnumerable<kdh.Models.Applicant>
@{
    ViewBag.Title = "Index_Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of applications</h2>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div>
        <h3>@Html.DisplayNameFor(model => model.ApplicantId): @item.ApplicantId</h3>
        <div>
            @Html.ActionLink("Delete", "Delete", new { id = item.ApplicantId })
        </div>
        <dl class="dl-horizontal row">
            <dt class="col-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.FirstName)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.LastName)</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.LastName)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.DateOfBirth)</dt>
            <dd class="col-8 col-md-10">@Html.DisplayFor(modelItem => item.DateOfBirth)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.Email)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.Phone)</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.Phone)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.Job.JobTitle)</dt>
            <dd class="col-10">@Html.DisplayFor(modelItem => item.Job.JobTitle)</dd>
        </dl>
    </div>
}