@model kdh.ViewModels.DoctorDepartment
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model == null)
{
    <p>enpty</p>
}

<h2>Delete</h2>
@using (Html.BeginForm("Delete", "Doctor"))
{
    <div>
        @Html.DisplayNameFor(x => x.doctor.Departmentid)
        @Html.DisplayFor(x => x.doctor.Departmentid)
    </div>
<div>
    @Html.DisplayNameFor(x => x.doctor.Fname)
    @Html.DisplayFor(x => x.doctor.Fname)
</div>
<div>
    @Html.DisplayNameFor(x => x.doctor.Lname)
    @Html.DisplayFor(x => x.doctor.Lname)
</div>
<div>
    @Html.DisplayNameFor(x => x.doctor.Email)
    @Html.DisplayFor(x => x.doctor.Email)
</div>
<div>
    @Html.DisplayNameFor(x => x.doctor.Mobile_no)
    @Html.DisplayFor(x => x.doctor.Mobile_no)
</div>
<div>
    @Html.DisplayNameFor(x => x.doctor.Speciality)
    @Html.DisplayFor(x => x.doctor.Speciality)
</div>
<div>
    @Html.DisplayNameFor(x => x.doctor.Address_line1)
    @Html.DisplayFor(x => x.doctor.Address_line1)
</div>
<div>
    @Html.DisplayNameFor(x => x.doctor.Address_line2)
    @Html.DisplayFor(x => x.doctor.Address_line2)
</div>
<div>
    @Html.DisplayNameFor(x => x.doctor.Speciality)
    @Html.DisplayFor(x => x.doctor.Speciality)
</div>
<div>
    @Html.DisplayNameFor(x => x.doctor.Speciality)
    @Html.DisplayFor(x => x.doctor.Speciality)
</div>
<div>
    @Html.DisplayNameFor(x => x.department.department_name)
    @Html.DisplayFor(x => x.department.department_name)
</div>
<div>
    @Html.DisplayNameFor(x => x.department.department_location)
    @Html.DisplayFor(x => x.department.department_location)
</div>
    <input type="submit" value="Delete" />
}



